<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="gateway"><![CDATA[cl253]]></item>
	<item id="title"><![CDATA[创蓝]]></item>
	<item id="intro"><![CDATA[【创蓝-云通信】为用户提供的一种通信服务的能力，支持快速发送短信验证码、短信通知等，服务范围覆盖全球。]]></item>
	<item id="bind_template" alt="是否需要绑定模板;1是0否"><![CDATA[1]]></item>
	<item id="config">
		<item id="sign_name">
			<item id="title"><![CDATA[短信签名]]></item>
			<item id="type"><![CDATA[text]]></item>
			<item id="value"><![CDATA[]]></item>
			<item id="tips"><![CDATA[设置短信签名]]></item>
			<item id="verify"><![CDATA[required]]></item>
		</item>
		<item id="api_account">
			<item id="title"><![CDATA[API帐号]]></item>
			<item id="type"><![CDATA[text]]></item>
			<item id="value"><![CDATA[]]></item>
			<item id="tips"><![CDATA[请从后台获取并输入]]></item>
			<item id="sensitive"><![CDATA[yes]]></item>
			<item id="verify"><![CDATA[required]]></item>
		</item>
		<item id="api_password">
			<item id="title"><![CDATA[API密码]]></item>
			<item id="type"><![CDATA[text]]></item>
			<item id="value"><![CDATA[]]></item>
			<item id="tips"><![CDATA[请从后台获取并输入]]></item>
			<item id="sensitive"><![CDATA[yes]]></item>
			<item id="verify"><![CDATA[required]]></item>
		</item>
		<!-- <item id="api_radio">
			<item id="title"><![CDATA[绑定模板]]></item>
			<item id="type"><![CDATA[radio]]></item>
			<item id="value"><![CDATA[0]]></item>
			<item id="options">
				<item id="0"><![CDATA[0]]></item>
				<item id="1"><![CDATA[1]]></item>
			</item>
			<item id="tips"><![CDATA[]]></item>
		</item>
		<item id="api_select">
			<item id="title"><![CDATA[绑定模板]]></item>
			<item id="type"><![CDATA[select]]></item>
			<item id="value"><![CDATA[0]]></item>
			<item id="options">
				<item id="0"><![CDATA[值0]]></item>
				<item id="1"><![CDATA[值1]]></item>
			</item>
			<item id="tips"><![CDATA[]]></item>
		</item> -->
		<item id="api_debug">
			<item id="title"><![CDATA[测试模式]]></item>
			<item id="type"><![CDATA[radio]]></item>
			<item id="value"><![CDATA[0]]></item>
			<item id="options">
				<item id="0"><![CDATA[关闭]]></item>
				<item id="1"><![CDATA[开启]]></item>
			</item>
			<item id="tips"><![CDATA[开启测试模式会直接返回发送信息]]></item>
		</item>
		<item id="bind_template">
			<item id="title"><![CDATA[绑定模板]]></item>
			<item id="type"><![CDATA[hidden]]></item>
			<item id="value"><![CDATA[1]]></item>
			<item id="tips"><![CDATA[]]></item>
		</item>
	</item>
</root>